/*Exclusive Stylesheet for Home, written by Justin Farrugia*/

.hero {
    background-image: url(/img/heroimage.png);
    padding: 0px;
    height: 91vh;
    background-size: cover;
    width: 100%;
    padding-bottom: 10px;
}
.headhero h1 {
    font-size: 3.3vw;
}
h1 {
    font-size: 3.3em;
}
.main {
    padding: 0px;
    padding-bottom: 10px;
}
.headerhero {
    width: 90%;
    margin: 0 auto;
    padding-top: 20%;
}
.about {
    padding: 100px 0px;
}
.scroll {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
}
#exb {
    color: #f9f9f9;
}
@media only screen and (max-width: 480px) {
    .hero header {
        margin: 0 5%;
    }
    .hero header h1 {
        font-size: 2em;
        padding-top: 30%;
    }
    #exb {
        color: #f9f9f9;
    }
}
@media only screen and (min-width: 480px) {
    .headerhero h1 {
        font-size: 5vw;
        padding-top: 30px;
    }
}
.exhibitions {
    background-image: url(/img/exhibitions.png);
    padding: 0px;
    height: 400px;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.education {
    background-image: url(/img/research.png);
    padding: 0px;
    height: 400px;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.whatson {
    width: 100%;
    height: 100px;
    padding-top: 135px;
    text-align: center;
}
@media only screen and (min-width: 1140px) {
    .headerhero h1 {
        font-size: 2.5vw;
    }
}
