/*CSS Stylesheet for Industrimuseum*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
}
/*Animation Styling*/

.gwd-page-size {
    width: 50px;
    height: 50px;
    top: -20px;
}
#page1 {
    top: 10px;
}
/*End of Animation Styling*/

::-moz-selection {
    background: #b3d4fc;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
span {} textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ===== Styles ==================================================

   ========================================================================== */

p {
    font: 16px;
    font-family: 'Cardo', serif;
    line-height: 2em;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}
/* ===================
    Theme
   =================== */

.header-container,
.footer-container {
    background: #060606;
}
.title {
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 14px;
    padding-left: 65px;
    left: 20px;
    letter-spacing: 0.3px;
}
/* ==============
    MOBILE: Menu
   ============== */

nav {
    text-align: center;
}
nav ul {
    margin: 0;
    list-style-type: none;
    font-size: 0.7em;
}
* a {
    text-decoration: none;
    color: inherit;
}
nav a {
    display: block;
    margin-bottom: 25px;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
nav a:hover,
nav a:visited {
    color: white;
}
nav a:hover {
    transition: color 0.5s ease;
    color: #605ca8;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}
h1 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}
.main aside {
    color: #252323;
}
.footer-container footer {
    color: white;
    padding: 20px 0;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   Global custom styles
   ========================================================================== */

footer {
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 0.7em;
    bottom: 0px;
}
listedu {
    font-family: 'Cardo', serif;
}
.heroimage {} img {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}
.header-container header nav ul li {
    padding: 10px 10px;
}
.footer-container footer ul li {
    padding: 10px 10px;
}
/* This is a button */

.btn {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #ffffff;
    background: #605ca8;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: .8em;
    border-style: none;
    cursor: pointer;
}
.btn:hover {
    transition: background-color 0.5s ease;
    background-color: #4a45a0;
    text-decoration: none;
}
.btn a {
    transition: none;
}
/*Button Styling End*/

span {
    color: #605ca8;
    font-weight: 400;
}
footer ul {
    text-align: center;
}
hr {
    background-color: #605ca8;
    height: 3px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
a:hover {
    transition: color 0.5s ease;
    color: #605ca8;
    text-decoration: none;
}
footer ul li {
    list-style: none;
    display: inline-block;
}
section ul li {
    font-family: 'Cardo', serif;
}
footer ul li a {
    margin: 0 auto;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
}
.copyright {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #5d5d5d;
}
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    text-transform: uppercase;
    color: #605ca8;
    letter-spacing: .8px;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    color: #605ca8;
    letter-spacing: .8px;
}
.aside {
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 400;
    top: 50px;
}
.icons {
    float: left;
    padding-right: 15px;
    font-size: 2em;
    color: #605ca8;
}
.icons.time {
    padding-top: 10px;
    padding-bottom: 40px;
}
.icons.location {
    padding-bottom: 10px;
    padding-top: 10px;
}
.icons.price {
    padding-bottom: 130px;
    padding-top: 10px;
}
.asidecontent dl {
    width: 40px;
    display: inline;
    font-size: 2em;
    float: left;
    margin: -5px;
    color: #605ca8;
    padding-bottom: 10px;
    padding-right: 20px;
}
.searchbar {
    width: 100%;
    margin: 0 auto;
    height: 65px;
    top: 0;
    background-color: #605ca8;
    clear: both;
    position: relative;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    h1.title {
        margin: 0 auto;
    }
    .conversion {
        text-align: center;
        padding-right: 50px;
    }
    nav {
        padding-bottom: 14px;
    }
    nav ul {
        padding-right: 40px;
        padding-top: 20px;
    }
}
@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
        display: inline-block;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    
    nav ul li {
        display: inline-block;
        padding: 10px 10px;
    }
    .oldie nav a {
        margin: 0 1%;
    }
    footer ul li a {
        display: block;
        content: ' ';
    }
    nav {
        margin: 0 auto;
    }
}
.search {
    border-bottom: 1px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    position: relative;
    float: left;
    top: 20px;
    padding-bottom: 5px;
    background: transparent;
    font-family: 'Cardo', serif;
    color: white;
}
/*Placeholder Styling & Input Styling*/

.search::-webkit-input-placeholder {
    font-family: 'Cardo', serif;
    color: white;
}
.aside {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}
.search input[type=text] {
    font-family: 'Cardo', serif;
    color: white;
}
.aside input[type=text] textarea:focus,
input:focus {
    outline: 0;
}
/*End of Placeholder Styling*/

@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    /* ============
    WIDE: Menu
   ============ */
    
    .title {
        float: left;
    }
    nav {
        float: right;
    }
    /* ============
    WIDE: Main
   ============ */
    
    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 38%;
    }
}
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        
        margin: 0 auto;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*
Written by Justin Farrugia
Copyright (c) 2015 Justin Farrugia. All rights reserved.
*/
